<!-- Login form -->

<!-- <div class="form " style="max-width:500px;margin:auto;" > -->
<form name="loginForm" style="max-width:500px;margin:auto;">
    <p class="h5 text-center mb-4">Sign in</p>
  
    <div class="md-form" >
      <i class="fa fa-envelope prefix grey-text"></i>
      <input type="text" formControlName="email" id="defaultForm-email" class="form-control" mdbInputDirective>
      <label for="defaultForm-email">Your email</label>
    </div>
  
    <div class="md-form">
      <i class="fa fa-lock prefix grey-text"></i>
      <input type="password" formControlName="email" id="defaultForm-pass" class="form-control" mdbInputDirective>
      <label for="defaultForm-pass">Your password</label>
    </div>
  
    <div class="text-center">
      <input type="submit"  color="default" sclass="waves-light " class ="btn btn-success" mdbWavesEffect value="Login">
    </div>
  </form>
<!-- </div> -->
  <!-- Login form -->