/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body{
    background: #f1f1f1;
    padding: 50px;
    font-family: Arial; 
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body { margin: 0; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
